aiohttp
aiosqlite
discord.py
python-dotenv
requests
langchain
langchain-community
langchain-postgres
langchain-huggingface
pypdf
pdfminer.six
tiktoken
pandas
beautifulsoup4
openai
psycopg[binary]
pgvector
#llama-cpp-python